/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-opsz-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* inter-latin-wght-normal */
@font-face {
  font-family: 'Inter Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-opsz-italic.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-inter: 'Inter Variable';

  /* Raw colors */
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-350: #b0b0b9;
  --gray-400: #a1a1aa;
  --gray-450: #8a8a96;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --black: #000;
  --white: #fff;

  --blackAlpha: rgba(0, 0, 0, 0.06);
  --blackAlpha-medium: rgba(0, 0, 0, 0.08);
  --blackAlpha-hard: rgba(0, 0, 0, 0.16);
  --whiteAlpha: rgba(255, 255, 255, 0.06);
  --whiteAlpha-medium: rgba(255, 255, 255, 0.08);
  --whiteAlpha-hard: rgba(255, 255, 255, 0.16);

  /* Semantic colors */
  --background: var(--gray-100);
  --foreground: var(--gray-800);
  --foreground-dimmed: var(--gray-700);
  --foreground-secondary: var(--gray-500);
  --primary: var(--indigo-500);
  --card: var(--white);
  --card-secondary: color-mix(in srgb, var(--gray-100), var(--white));
  --image: var(--gray-700);
  --skeleton: var(--gray-300);
  --border: var(--gray-300);

  --input-border: var(--gray-200);
  --input-border-accent: var(--gray-300);
  --input-border-invalid: var(--red-500);
  --input-background: var(--white);

  --popover: var(--card);
  --popover-foreground: var(--foreground);

  --tooltip: var(--black);
  --tooltip-foreground: var(--gray-100);

  --button-primary: var(--indigo-500);
  --button-primary-hover: var(--indigo-600);
  --button-primary-active: var(--indigo-700);
  --button-primary-foreground: var(--white);
  --button-primary-subtle: var(--indigo-300);
  --button-primary-subtle-foreground: var(--indigo-500);

  --button-secondary: var(--blackAlpha);
  --button-secondary-hover: var(--blackAlpha-medium);
  --button-secondary-active: var(--blackAlpha-hard);
  --button-secondary-foreground: var(--foreground);
  --button-secondary-subtle: var(--gray-400);
  --button-secondary-subtle-foreground: var(--foreground);

  --button-destructive: var(--red-500);
  --button-destructive-hover: var(--red-600);
  --button-destructive-active: var(--red-700);
  --button-destructive-foreground: var(--white);
  --button-destructive-subtle: var(--red-300);
  --button-destructive-subtle-foreground: var(--red-500);

  --button-success: var(--green-500);
  --button-success-hover: var(--green-600);
  --button-success-active: var(--green-700);
  --button-success-foreground: var(--white);
  --button-success-subtle: var(--green-300);
  --button-success-subtle-foreground: var(--green-500);

  --badge-background: var(--blackAlpha);
  --badge-foreground: var(--foreground);

  --drawer-handle: var(--blackAlpha);
  --scroll-thumb: var(--blackAlpha-medium);

  --icon-success: var(--green-500);
  --icon-error: var(--red-500);
}

.dark {
  --background: var(--gray-800);
  --foreground: var(--gray-100);
  --foreground-dimmed: var(--gray-300);
  --foreground-secondary: var(--gray-400);
  --card: var(--gray-700);
  --card-secondary: color-mix(in srgb, var(--gray-800), var(--gray-700));
  --image: var(--gray-600);
  --skeleton: var(--gray-600);
  --border: var(--gray-600);

  --input-border: var(--whiteAlpha-medium);
  --input-border-accent: var(--whiteAlpha-hard);
  --input-border-invalid: var(--red-300);
  --input-background: var(--blackAlpha-hard);

  --tooltip: var(--gray-300);
  --tooltip-foreground: var(--gray-800);

  --button-primary: var(--indigo-500);
  --button-primary-hover: var(--indigo-400);
  --button-primary-active: var(--indigo-300);
  --button-primary-foreground: var(--white);
  --button-primary-subtle: var(--indigo-300);
  --button-primary-subtle-foreground: var(--indigo-500);

  --button-secondary: var(--whiteAlpha);
  --button-secondary-hover: var(--whiteAlpha-medium);
  --button-secondary-active: var(--whiteAlpha-hard);
  --button-secondary-foreground: var(--foreground);
  --button-secondary-subtle: var(--gray-400);
  --button-secondary-subtle-foreground: var(--foreground);

  --button-destructive: var(--red-500);
  --button-destructive-hover: var(--red-400);
  --button-destructive-active: var(--red-300);
  --button-destructive-foreground: var(--white);
  --button-destructive-subtle: var(--red-300);
  --button-destructive-subtle-foreground: var(--red-500);

  --button-success: var(--green-500);
  --button-success-hover: var(--green-400);
  --button-success-active: var(--green-300);
  --button-success-foreground: var(--white);
  --button-success-subtle: var(--green-300);
  --button-success-subtle-foreground: var(--green-500);

  --badge-background: var(--whiteAlpha);
  --badge-foreground: var(--foreground);

  --drawer-handle: var(--whiteAlpha);
  --scroll-thumb: var(--whiteAlpha-medium);

  --icon-success: var(--green-400);
  --icon-error: var(--red-400);
}

body {
  @apply bg-background text-foreground font-sans min-h-screen antialiased selection:bg-foreground selection:text-background;
}

* {
  border-color: var(--border);
}
