@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 4% 16%;

    --card: 0 0% 100%;
    --card-foreground: var(--foreground);

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --tooltip: 0 0% 0%;
    --tooltip-foreground: 0 0% 100%;

    --primary: 239 84% 67%;
    --primary-hover: 243 75% 59%;
    --primary-active: 245 58% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0, 0%, 0%, 0.06;
    --secondary-hover: 0, 0%, 0%, 0.08;
    --secondary-active: 0, 0%, 0%, 0.16;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 0 0% 100%;
    --muted-foreground: 240 5% 56%;

    --accent: 240 7% 90%;
    --accent-foreground: 240 4% 16%;

    --anchor-foreground: 221 83% 53%;

    --destructive: 0 84% 60%;
    --destructive-hover: 0 72% 51%;
    --destructive-active: 0 74% 42%;
    --destructive-foreground: 210 20% 98%;
    --destructive-ghost-hover: 0, 96%, 89%, 0.16;
    --destructive-ghost-active: 0, 96%, 89%, 0.24;
    --destructive-ghost-foreground: 0 72% 51%;

    --success: 142 71% 45%;
    --success-hover: 142 76% 36%;
    --success-active: 142 72% 29%;
    --success-foreground: 0 0% 100%;

    --border: 240 6% 90%;
    --border-muted: 240 6% 94%;
    --input: var(--border);
    --ring: 224 71.4% 4.1%;

    --toast-success: 137 64% 98%;
    --toast-error: 0 78% 98%;
    --toast-warning: 40 79% 96%;
    --toast-info: 218 80% 98%;

    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
  }

  :root[data-theme="dark"] {
    --background: 240 3.7% 15.88%;
    --foreground: 210 20% 98%;

    --card: 240 5.26% 26.08%;
    --card-foreground: var(--foreground);

    --popover: 240 5.26% 26.08%;
    --popover-foreground: 240 2% 58%;

    --tooltip: 240 5% 84%;
    --tooltip-foreground: 240 4% 16%;

    --primary: 238.73 70% 63%;
    --primary-hover: 234 89% 74%;
    --primary-active: 230 94% 82%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0, 0%, 100%, 0.08;
    --secondary-hover: 0, 0%, 100%, 0.16;
    --secondary-active: 0, 0%, 100%, 0.24;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 3% 13%;
    --muted-foreground: 240 5% 56%;

    --accent: 240 2% 35%;
    --accent-foreground: 0 0% 92%;

    --anchor-foreground: 213 94% 68%;

    --destructive: 0 84% 60%;
    --destructive-hover: 0 91% 71%;
    --destructive-active: 0 94% 82%;
    --destructive-foreground: 210 20% 98%;
    --destructive-ghost-hover: 0, 96%, 89%, 0.16;
    --destructive-ghost-active: 0, 96%, 89%, 0.24;
    --destructive-ghost-foreground: 0 96% 89%;

    --success: 142 71% 45%;
    --success-hover: 142 69% 58%;
    --success-active: 142 77% 73%;
    --success-foreground: 0 0% 100%;

    --border: 240 3% 38%;
    --border-muted: 240 3% 28%;
    --input: var(--border);
    --ring: 240 0% 45%;

    --toast-success: 180 4% 35%;
    --toast-error: 317 4% 35%;
    --toast-warning: 30 6% 34%;
    --toast-info: 226 7% 36%;
  }

  :root[data-theme="dark"] video,
  :root[data-theme="dark"] img {
    filter: brightness(0.85) contrast(1.15);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground;
  }
}
