@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4% 95%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: var(--foreground);

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 243, 75%, 59%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 0 0% 100%;
    --muted-foreground: 240 4% 46%;

    --accent: 240 2% 35%;
    --accent-foreground: 0 0% 92%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 240 6% 90%;
    --input: var(--border);
    --ring: 224 71.4% 4.1%;
  }

  :root[data-theme="dark"] {
    --background: 240 3.7% 15.88%;
    --foreground: 210 20% 98%;

    --card: 240 5.26% 26.08%;
    --card-foreground: var(--foreground);

    --popover: 240 5.26% 26.08%;
    --popover-foreground: 240 2% 58%;

    --primary: 238.73 70% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 240 3% 13%;
    --muted-foreground: 240 1% 42%;

    --accent: 240 2% 35%;
    --accent-foreground: 0 0% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 240 3% 38%;
    --input: var(--border);
    --ring: 240 0% 45%;

    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
  }

  :root[data-theme="dark"] video,
  :root[data-theme="dark"] img {
    filter: brightness(0.85) contrast(1.15);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background font-sans text-foreground;
  }
}
